h1 {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

h2 {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 200px;
    margin-left: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f8f897;
}


.header-image-container {
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    background-color: rgb(42, 97, 63);
    position: relative;
    color: rgb(66, 91, 87);

}

.Emily-Kline {
    position: absolute;
    top: 0px;
    left: 16px;
    font-family: helvetica, arial, sans serif;
    color: rgb(42, 97, 63);
    background-color: rgb(237, 242, 241);
}



img {
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;

    margin-top: 0px;
    margin-right: 0%;

    list-style-type: none;

    background-color: rgb(42, 97, 63);
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
}

.live-your-best-life {

    position: absolute;
    top: auto;
    bottom: -10px;
    right: 50px;
    font-family: helvetica, arial, sans serif;
    color: rgb(42, 97, 63);
    font-weight: bold;
    font-size: 25px;
}

li {
    float: right;
}

li a {
    display: flex;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline;
    margin-top: 15px;
    margin-bottom: auto;

}


.about-me {
    width: 20%;
    background-color: #568667d3;
    color: #060606;
    margin-top: 0px;
    padding: 20px;
    float: left;



}

.vertical-line {
    border-left: 6px solid #568667d3;
    height: 250px;
    margin-left: 250px;
    margin-top: 40px;
}

.content {
    width: 65%;
    padding: 0px;
    float: left;
    margin-left: 300px;
    margin-top: -150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.Work {
    width: 20%;
    background-color: #568667d3;
    color: #060606;
    margin-top: 40px;
    margin-inline-start: 0%;
    padding: 20px;
    float: left;
    flex-direction: row;

}

.wvl {
    border-left: 6px solid #568667d3;
    height: 250px;
    margin-left: 250px;
    margin-top: 40px;
}

.wcontent {
    width: 65%;
    padding: 0px;
    float: left;
    margin-left: 300px;
    margin-top: -150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.Contact-me {
    width: 20%;
    background-color: #568667d3;
    color: #060606;
    margin-top: 40px;
    margin-inline-start: 0%;
    padding: 20px;
    float: left;
    flex-direction: row;

}

.cvl {
    border-left: 6px solid #568667d3;
    height: 100px;
    margin-left: 250px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.pcontent {
    width: 65%;
    padding: 0px;
    float: left;
    margin-left: 300px;
    margin-top: -150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contactinfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(8, 8, 8);
    list-style-type: none;
    padding: 14px 16px;
    text-decoration: underline;
    margin-top: -80px;
    margin-bottom: auto;
    margin-left: -150px;
}

.contactinfo a {
    color: #568667d3;
    margin-top: 30px;
    font-family: helvetica, arial, sans serif;
    font-size: 25px;

}

.main-box {
    width: 400px;
    height: 300px;
    border: 5px solid #c7f897d3;
    padding: 20px;
    margin-left: 400px;
    margin-top: -250px;
    text-align: center;
    background-color: #c7f897d3;
    border-radius: 5px;
    display: block;
    transition: background-color 0.3s ease;
}

.main-box:hover {
    background-color: #83a263;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.main-box img {
    max-width: 1000px;
    max-height: 300px;
    margin-top: -60px;
}

.text-overlay {
    position: absolute;
    background-color: #c8f897;
    margin-top: -120px;
    width: 200px;
    font-family: Helvetica, Arial, sans-serif;
    color: #234500;
}

.main-box a {
    width: 100%;
    height: 100%;
}

.box1 {
    width: 200px;
    height: 120px;
    margin: 10px;
    margin-left: 400px;
    padding: 10px;
    background-color: #c8f897;
    transition: background-color 0.3s ease;
}

.box1:hover {
    background-color: #83a263;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box1 a {
    width: 100%;
    height: 100%;
}

.box1text {
    position: absolute;
    background-color: #c8f897;
    margin-top: -75px;
    width: 100px;
    height: 65px;
    font-family: Helvetica, Arial, sans-serif;
    color: #234500;
    font-size: small;
    text-align: center;
}

.box1 img {
    height: 100px;
    width: 200px;

}

.box2 {
    width: 200px;
    height: 120px;
    margin: 10px;
    margin-left: 630px;
    margin-top: -150px;
    padding: 10px;
    background-color: #c8f897;
    transition: background-color 0.3s ease;
}

.box2:hover {
    background-color: #83a263;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box2 p {
    margin-top: -15px;
}

.box2 a {
    width: 100%;
    height: 100%;
}

.box2text {
    position: absolute;
    background-color: #c8f897;
    margin-top: -75px;
    width: 100px;
    height: 65px;
    font-size: small;
    font-family: helvetica, arial, sans serif;
    text-align: center;
}

.box2 img {
    height: 100px;
    width: 200px;

}

.box3 {
    width: 200px;
    height: 120px;
    margin: 10px;
    margin-left: 400px;
    padding: 10px;
    background-color: #c8f897;
    transition: background-color 0.3s ease;
}

.box3:hover {
    background-color: #83a263;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box3 a {
    width: 100%;
    height: 100%;
}

.box3text {
    position: absolute;
    background-color: #c8f897;
    margin-top: -75px;
    width: 100px;
    height: 65px;
    font-family: Helvetica, Arial, sans-serif;
    color: #234500;
    font-size: small;
    text-align: center;
}

.box3 img {
    height: 100px;
    width: 200px;

}

.box4 {
    width: 200px;
    height: 120px;
    margin: 10px;
    margin-left: 630px;
    margin-top: -150px;
    padding: 10px;
    background-color: #c8f897;
    transition: background-color 0.3s ease;
}

.box4:hover {
    background-color: #83a263;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box4 a {
    width: 100%;
    height: 100%;
}

.box4text {
    position: absolute;
    background-color: #c8f897;
    margin-top: -75px;
    width: 100px;
    height: 65px;
    font-family: Helvetica, Arial, sans-serif;
    color: #234500;
    font-size: small;
    text-align: center;
}

.box4 img {
    height: 100px;
    width: 200px;

}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .contactinfo {
        display: flex;
        flex-direction: column;
    }

    .navbar {
        display: flex;
        flex-direction: column;
    }

    .box1 {
        display: flex;
        flex-direction: column;
    }

    .box2 {
        display: flex;
        flex-direction: column;
    }

    .box3 {
        display: flex;
        flex-direction: column;
    }

    .box4 {
        display: flex;
        flex-direction: column;
    }

}

@media and (max-width: 640px) {

    #.main-box,
    #.box1,
    #.box2,
    #.box3,
    #.box4 {
        float: left;
        display: flex;
        flex-direction: column;
    }
}